<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2021 All Rights Reserved.
 * https://opensource.org/licenses/OSL-3.0  Open Software License (OSL 3.0)
 * Julien_ManageOffers
 * Julien TRAJMAN <j.trajman@gmail.com> <@Julien0s>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Julien\ManageOffers\Api\Data\OfferInterface"
                type="Julien\ManageOffers\Model\Data\OfferData"/>
    <!-- Image Upload -->
    <virtualType name="Julien\ManageOffers\Controller\Adminhtml\Uploader\VirtualUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">offers/image</argument>
            <argument name="basePath" xsi:type="string">offers/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Julien\ManageOffers\Controller\Adminhtml\Uploader\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Julien\ManageOffers\Controller\Adminhtml\Uploader\VirtualUploader</argument>
        </arguments>
    </type>
</config>
